# Ignore the .vscode folder
.vscode/

# Ignore the outer node_modules folder
node_modules/

# Ignore the server folder's .env file
server/.env

# Ignore the inner musicapp folder's .git and node_modules folders
musicapp/.git/
musicapp/node_modules/

